@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,100italic,500,500italic,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700,100);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	font-family: 'Alegreya Sans SC', sans-serif;
	margin:	0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction:column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	font-size: 15px;
}

header {
	background-color: rgba(255, 255, 255, 1);
	/*height: 80px;*/
}

nav {
	/*float: right;*/
/*	position:fixed;*/
	right:0;
	display: block;
	font-size: 20px;
}

section {
	text-align: right;
	clear: both;
	padding: .5% 0;
	-webkit-box-flex: 1; 
	-webkit-flex: 1 0 auto;     
	-ms-flex: 1 0 auto;     
	flex: 1 0 auto;     
	width: 100%;
}

p {
	font-family: 'Alegreya Sans SC', sans-serif;
	color: #000;
	font-size: 1.6em;
	padding: 0 13%; 
	letter-spacing: 2px;
	line-height: 1.5em;
	text-align: center;
}

a {
	color: rgb(71,78,79);
	display: block;
}
a.navlinks:hover {
	background-color: #efefef;
	/*color: rgb(71,78,79);*/
}

footer {
	background-color: rgba(255, 255, 255, 1);
	max-height: 60px;
	width:100%;
	bottom:0;
	left:0;
	clear: both;
	position: relative;
}

figure {
	display: inline;
	float: left;
	/*margin: 50px auto;*/
	width: 45%;
}

figcaption {
	font-family: 'Josefin Slab', serif;
	font-size: 1.6em;
	max-width: 800px;
	margin: 0 auto;
	color: white;
	text-align: center;
	padding: 5px;
}

h1{
	text-align: center;
	font-size: 2em;
}

h2 {
	font-family: 'Alegreya Sans SC', sans-serif;
	padding: 15px;
}

h3 {
	margin: 0;
}

h4 {
	color:	#333;
	text-align: center;
	font-size: 3em;
	margin: 30px;
}

article {
	text-align: center;
	font-size: 1.1em;
	font-family: 'Josefin Slab', serif;
	color: white;
}

img {
	max-width: 100%;
}


figure img {
	display: block;
	margin: 0px auto;
	/*padding-top: 30px;*/
}

label {
	display: none;
}
span {
	font-family: 'Alegreya Sans SC', sans-serif;
}
hr {
	width: 300px;
	height: 2px;
	margin: 0 auto;
}
video#bgvid { 
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../images/bgreelpic.png) no-repeat;
    background-size: cover; 
}
video#tlvid { 
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../images/bgreelpic.png) no-repeat;
    background-size: cover; 
}

.clearfix:after{
	height: 0;
	font-size: 0;
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
}

/*.mobile{
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  div
    display: none;
  button
    position: absolute;
    top: 15px;
    right: 15px;
    border: 0;
    text-indent: 200%;
    overflow: hidden;
    background: rgba(255,255,255,.8) url(http://i.imgur.com/vKRaKDX.png) center no-repeat;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-size: 80%;
    width: 30px;
    height: 30px;
    outline: none;
    transition: all .4s ease;
      transform: rotate(90deg);
      background-color: transparent;
      border: 0;
}      */

.logo {
	display: block;
	margin: 120px auto;
	width: 40%;
}

.homewords {
	color: #333;
	font-size: 1.8em;
	margin: 100px 0;
	width: 60%;
	display: inline-block;
}

.line {
	width: 20px;
	height: 3px;
	background: #000;
	margin: 2px 0;
}

.navlinks {
	font-family: 'Alegreya Sans SC', sans-serif;
	/*position: fixed, 100%;*/
	padding: 16px;
	text-align: center;	
	list-style-type: none;
	color: #333;
	font-weight: bolder;
	/*font-style: italic;*/
	text-decoration: none;
	float: right;
}

.longfoot{
	position: relative;
}

.socmedia {
	display: inline;
	float: left;
	margin: 10px 15px;
}

.email {
	padding-top: 25px;
	color:	#000000;
}

.pics{
	padding-top: 0;
	margin: 0 .5%;
}

.photo{
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 24.9%;
	height: 100%;
}
.photocontainer {
	margin: 25px auto;
	width: 90%;
	margin
}

.vidpage{

}

.vidlayer{

}

.vid {
	position: relative;
    padding-bottom: 28%;
    padding-top: 25px;
    height: 0;
    width: 50%;
    display: inline-block;
}

.vid iframe {
	position: absolute;
	margin: 60px;
	top: 0;	
	left: 0;
	width: 80%;
	height: 80%;
}

.vidp{
	float: right;
	width: 30%;
	margin: 40px 10%;
}

.vidlink {
	/*width: 100%;*/
	display: inline-block;
	margin: 50px 0;
}
.vidlink:hover figcaption{
	opacity: 1;
}
.hkcontact{
	margin: 50px 0;
}

.vidthumb{
	position: relative;
	width: 350px;
	background-color: red;
	overflow: hidden;
}

.videos {
	background-color: white;
	margin: 0 auto;
}
.vidpics {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.viewvid{
	text-decoration: none;
	position: absolute;
	background-color: rgba(0, 0, 0, .5);
	padding: 25.5% 0;
	width: 100%;
	top: 0;
	text-align: center;
	opacity: 0;
	transition: opacity ease .4s;
}


<<<<<<< HEAD
.stickyfoot{
	position: absolute;
}
#wearediv {
	background-color: rgba(255,255,255,.6);
	padding: 40px 60px 80px 60px;
	margin: 0 auto;
	margin-top: 100px;
	width: 70%;
}
=======
.foothome{
	/*position: absolute;*/
}
#wearediv {
	background-color: rgba(255,255,255,.6);
	padding: 40px 60px 80px 60px;
	margin: 0 auto;
	margin-top: 100px;
	width: 70%;
}
>>>>>>> origin/master
#whoweare {
	background: url(../images/largerimages/roadlrg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#logobg {
	background: url(../images/background.jpg);
	background-size: cover;   
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 900px;
	-webkit-transition: all ease;
	-o-transition: all ease;
	-moz-transition: all ease;
	transition: all ease; 
}

.byline {
	margin: 0 auto;
	background-color: white;
	width: 100%;
}

#navlogo {
	float: left;
	padding: 10px 0 10px 0;
	width: 50px;
	margin: 0 15px;
}
#secondpanel {
	/*background: url("../images/backgroundmonolake.jpg");*/
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 900px;
	-webkit-transition: all ease;
	-o-transition: all ease;
	-moz-transition: all ease;
	transition: all ease; 
}
#thirdpanel { 
	background: url("../images/backgroundmtrose.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	height: 900px;
	text-align: center;
	-webkit-transition: all ease;
	-o-transition: all ease;
	-moz-transition: all ease;
	transition: all ease; 
}
a.learnmore {
	text-decoration: none;
	display: inline;
	padding: 25px;
	font-size: 2em;
	font-family: 'Josefin Slab', serif;
	/*text-transform: uppercase;*/
	color: #FBB040;
	background-color: #044B57;
}
#slogan {
	font-family: 'Josefin Slab', serif;
	color: #41495C;
	font-weight: thin;
	text-transform: uppercase;
	font-size: 3.3em; 
	font-decoration: underline;
	margin: 50px auto;
}

#home {
	text-align: center;
	font-family: 'Alegreya Sans SC', sans-serif;
	margin:	0;
}
#hazen {
	float: left;
    display: inline;
    margin: 0 2% 0 15%;
    width: 33%;
    /* padding: 0 5% 0 15%; */
    background-color: rgba(255, 255, 255, 0.6);
}

#katie{
	float: right;
	display: inline;
	margin: 0 15% 0 2%;
	width: 33%;
	background-color: rgba(255, 255, 255, 0.6);
}

<<<<<<< HEAD
/*#hazspace {
	padding-bottom: 140px;
}*/
=======
#hazspace {
	padding-bottom: 140px;
}
>>>>>>> origin/master
#contactac {
	margin-top: 100px;
}
#footcontact {
	margin: 0;
	display: inline;
}
#bumpfoot {
	position: absolute;
}

#pbio {
	font-family: 'Josefin Slab', serif;
	color: #333;
	margin-top: 30px;
}
#bio {
	font-family: 'Josefin Slab', serif;
	font-size: 1.6em;
	margin: 0 auto;
	color: #333;
	text-align: center;
	padding: 25px;
	line-height: 1.5em;
}

#biodiv {
	text-align: center;
	padding: 100px 0;
}

#photopage{
	background-color: #54504D;
}

#contactpage{
	background: url(../images/backgroundmonolake.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	font-size: 20px;
}

#toggle {
	display: none;
}
#transform {
	font-family: 'Alegreya Sans SC', sans-serif;
	color: #41495C;
	font-weight: thin;/*
	text-transform: uppercase;*/
	font-size: 3.3em; 
	font-decoration: underline;
	margin: 200px auto;
	margin-bottom: 80px;
	padding: 40px;
	width: 50%;
	background-color: rgba(255,255,255,.7);
}

#vidwords {
	background-color: rgba(175, 175, 175, 0.91);
	color:	#C1E2D7;
	width: 60%;
	margin:	200px 0 400px 35%;
	font-size: 5.5em;
	font-family: 'Alegreya Sans SC', sans-serif;
}

@media only screen and (min-width: 2180px) {
	.vidpage {
		height: 1150px;
	}
	.videos	{
		margin: 550px auto 0;
		height: 370px;
	}
	.vidpics {
		width: 90%;
	}
}

@media only screen and (min-width: 2000px) {
	#logobg {
		height: 1200px;
	}
}


@media only screen and (max-width: 1300px){
	body{	
		font-size: 12px;
	}
	.logo {
		width:40%;
	}
	.photo{
		width: 50%;
	}
	.vid {
		float: none;
		margin: 0 10%;
		width: 80%;
	}
	.vidp{
		float: none;
		width: 90%;
		margin: 0 5%;
	}
	#bgvid {
		display: none;
		height: 0;
	}
	#tlvid {
		display: none;
	}
	.byline {

	}
	#secondpanel {
		background: url("../images/backgroundmonolake.jpg");
		height: 700px;
	}
	#wearediv {
		width: 80%;
	}
	#hazen{
		width: 80%;
		padding: 0;
		margin: 0 10%;
		margin-bottom: 100px;
<<<<<<< HEAD
	}
	/*#hazspace {
		padding-bottom: 0px; 
	}*/
=======
	}
	#hazspace {
		padding-bottom: 0px; 
	}
>>>>>>> origin/master
	#hazepic {
		width: 100%;
	}
	#katie{
		width: 80%;
		padding: 0;
		margin: 0 10%;
	}
	#katiepic{
		width:	100%;
	}
	.email {
		color: white;
	}
}

@media only screen and (max-width: 600px){
	body{
		font-size: 10px;
	}

	label {
		display: block;
		/*width:20px;
		margin:auto;*/
		float:right;
	}

	footer{
		position: relative;
	}

	nav{
		display: none;
		position:static;
		clear:both;
		/*float: none;*/
	}

	header{
		height:auto;
		padding:20px;
	}
	hr {
		width: 60%;
	}
	.logo {
		width:60%;
		margin: 100px auto;
	}
	.homewords {
		width: 100%;
	}
	#transform {
		width: 100%;
	}
	#slogan {
		font-size: 2.5em;
		margin: 0 auto;
	}

	.navlinks{
		float:none;
		display:block;
	}
	.vidpage .vidlayer #bgvid {
		display: none;
		height: 0;
	}
	.socmedia{
		margin: 10px 5px;
	}
	.photo{
		width: 100%;
	}
	.vid {
		width: 100%;
		margin: 0;
	}
	#vidwords {
		width: 90%;
		font-size: 4em;
		margin: 0 auto;
	}
	.vidlink {
		margin: 10px 0;
	}
	.vidpics {
		width: 100%;
	}

	#toggle:checked + nav {	
		display: block;
	}

	#white {
		color: #000000;
	}
	#wearediv {
		width: 95%;
		padding: 20px;
	}
	#pbio {
		padding: 0;
		letter-spacing: 0px;
		line-height: 1em;
		font-size: 1.4em;
	}
	#hazen {
		float: none;
	    display: inline;
	    margin: 0 auto;
	    width: 100%;
	    background-color: rgba(255, 255, 255, 0.8);
	}
	#contactac {
		margin-top: 60px;
	}
	#bumpfoot {
		position: relative;
	}

/*	#navlogo{
		float:none;
		margin:0;
	}*/
}
